<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vise.snowdemo">

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/github_head_portrait"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NetTestActivity"/>
        <activity android:name=".activity.UploadDownActivity"/>
        <activity android:name=".activity.ImageLoaderActivity"/>
        <activity android:name=".activity.OtherTestActivity"/>
        <activity android:name=".activity.StatusSwitchActivity"/>
    </application>

</manifest>